body {
    color: white;
}

html {
    background: url("../IMG/dark.jpg") no-repeat center fixed;
    background-size: cover;
}

h1 {
    color: white;
    text-align: center;
}

h3 {
    color: rgba(255, 255, 255, 0.77);
}

/*menu*/

.menu {
    background-color: #f7f5e7;
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
}

.main_nav {
    clear: both;
    margin: 0 auto;
    max-width: 1080px;
    min-height: 45px;
    position: relative;
}

ul.nav-menu,
div.nav-menu > ul {
    margin: 0;
    padding: 0 40px 0 0;
}

.nav-menu li {
    display: inline-block;
    position: relative;
}

.nav-menu li a {
    color: #141412;
    display: block;
    font-size: 15px;
    line-height: 1;
    padding: 15px 20px;
    text-decoration: none;
}

.nav-menu li:hover > a,
.nav-menu li a:hover,
.nav-menu li:focus > a,
.nav-menu li a:focus {
    background-color: #220e10;
    color: #fff;
}

.nav-menu .children {
    background-color: #220e10;
    border: 2px solid #f7f5e7;
    border-top: 0;
    padding: 0;
    position: absolute;
    left: -2px;
    z-index: 99999;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

ul.nav-menu ul a,
.nav-menu ul ul a {
    color: #fff;
    margin: 0;
    width: 200px;
}

ul.nav-menu ul a:hover,
.nav-menu ul ul a:hover,
ul.nav-menu ul a:focus,
.nav-menu ul ul a:focus {
    background-color: #db572f;
}

ul.nav-menu li:hover > ul,
.nav-menu ul li:hover > ul,
ul.nav-menu .focus > ul,
.nav-menu .focus > ul {
    clip: inherit;
    overflow: inherit;
    height: inherit;
    width: inherit;
}


/*param*/

.dropbtn-param {
    background-color: rgb(64, 158, 68);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    right: 0px;
    position: fixed;
    padding-left: 10px;
    padding-right: 9px;
    height: 39.5px;
    border-bottom-left-radius: 5px;
    margin-right: 0px;
    z-index: 1;
}

.dropdown-param {
    position: relative;
    display: inline-block;
}

.dropdown-content-param {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0px;
    position: fixed;
    top: 40px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    z-index: 1;
}

.dropdown-content-param a {
    color: black;
    padding: 5px 21px;
    text-decoration: none;
    display: block;
}

.dropdown-content-param a:hover {
    background-color: #f1f1f1
}

.dropdown-param:hover .dropdown-content-param {
    display: block;
}

.dropdown-param:hover .dropbtn-param {
    background-color: #3e8e41;
}

