body {
    color: white;
}

html {
    background: url("../IMG/dark.jpg") no-repeat center fixed;
    background-size: cover;
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
}

h3 {
    color: rgba(255, 255, 255, 0.77);
}

#text1 {
    width: 100px;
    height: 200px;
}

#tabtab {
    border: 1px solid white;
    text-align: center;
}

#ththt {
    color: white;
    text-align: center;
}

#inscription {
    color: white;
    text-align: center;
    margin-top: 100px;
}

#inscription input {
    color: black;
}

input {
    color: black;
}

#info {
    color: white;
    text-align: center;
}

#tableau1 {
    width: 100%;
    border: 1px solid white;
    color: white;
    text-align: center;
}

#info_input {
    width: 200px;
    height: 15px;
    text-align: center;
}

#fr {
    width: 110px;
    height: 100px;
    text-align: center;
}

#fleche {
    text-align: left;
    height: 30px;
}

#logo_etna {
    height: 70px;
}

#logo_bri {
    height: 80px;
}

#menu h1 {
    color: white;
    text-align: center;
}

#Login {
    margin-top: 15%;
    color: white;
    text-align: center;
}

#login {
    width: 100px;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #000000;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
}

#menu li {
    float: left;
}

#menu li label {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    cursor: pointer;
}

#menu li label:hover:not(.active) {
    background-color: #666666;
}

#menu .parametre {
    float: right;
    height: 35px;
}

#menu img {
    width: 35px;
    height: 35px;
}

#test {
    margin-top: 2%;
}

#test table {
    border-collapse: collapse;
    width: 100%;
    color: white;
}

#test th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#test tr:hover {
    background-color: #000000;
}

#notif {
    margin-top: 100px;
    margin-right: 100px;
}

#notif img {
    margin-top: 100px;
    margin-right: 100px;
    width: 50px;
    height: 50px;
}

.dropbtn {
    background-color: rgb(64, 158, 68);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    right: 0px;
    position: fixed;
    padding-left: 10px;
    padding-right: 9px;
    height: 39.5px;
    border-bottom-left-radius: 5px;
    margin-right: 0px;
    z-index: 1;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0px;
    position: fixed;
    top: 40px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 5px 21px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#tete:hover {
    background-color: white;
}

#footer {
    bottom: 170px;
    text-align: center;
    display: inline-table;
}

#titre_homepage {
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#cordes {
    color: white;
}

#casque {
    color: white;
}

#metallique {
    color: white;
}

#harnais {
    color: white;
}

#divers {
    color: white;
}