body {
    color: white;
}

html {
    background: url("../IMG/dark.jpg") no-repeat center fixed;
    background-size: cover;
}

h1 {
    color: white;
    text-align: center;
}

h3 {
    color: rgba(255, 255, 255, 0.77);
    margin-top: 6%;
}

/* MENU */

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #000000;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
}

#menu li {
    float: left;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    cursor: pointer;
    text-decoration: none;
}

#menu li a:hover:not(.active) {
    background-color: #666666;
}

#menu .parametre {
    float: right;
    height: 35px;
}

#menu img {
    width: 35px;
    height: 35px;
}

#menu h1 {
    color: white;
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    background-color: #312f2f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    top: 40px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    z-index: 1;
}

.dropdown-content a {
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #4c4949;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn-param {
    background-color: rgb(64, 158, 68);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    right: 0px;
    position: fixed;
    padding-left: 10px;
    padding-right: 9px;
    height: 39.5px;
    border-bottom-left-radius: 5px;
    margin-right: 0px;
    z-index: 1;
}

.dropdown-param {
    position: relative;
    display: inline-block;
}

.dropdown-content-param {
    display: none;
    position: absolute;
    color: white;
    background-color: #312f2f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0px;
    position: fixed;
    top: 40px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    z-index: 1;
}

.dropdown-content-param a {
    color: white;
    padding: 5px 21px;
    text-decoration: none;
    display: block;
}

.dropdown-content-param a:hover {
    background-color: #4c4949;
}

.dropdown-param:hover .dropdown-content-param {
    display: block;
}

/* Contain 1*/

#container1 {
    width: 610px;
    height: 211px;
    overflow: hidden;
    position: relative;
    background-image: url(YOUR-URL-IMAGE.png);
}

.slid_1, .slid_2, .slid_3 {
    position: absolute;
    width: 610px;
    height: 211px;
}

.slid_1 {
    left: 0;
}

.slid_2 {
    left: 610px;
}

.slid_3 {
    left: 1220px;
}

#S_contain1 {
    width: 1220px;
    height: 211px;
    left: 0px;
    position: absolute;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: anim_slide;
}

@keyframes anim_slide {
    0% {
        left: 0px;
    }
    22% {
        left: 0px;
    }
    33% {
        left: -610px;
    }
    45% {
        left: -610px;
    }
    66% {
        left: -1220px;
    }
    90% {
        left: -1220px;
    }
}

/* Contain 2 */